.up-button__button {
  line-height: 0;
  width: 40px;
  height: 40px;
  border: 1px solid $color-light-gray;
  border-radius: 50%;
  background-color: transparent;
  transition: border-color 0.3s;

  @include hover-focus {
    border-color: $color-dim-gray;
    outline: none;
  }
}

.up-button__button svg {
  transition: fill 0.3s;
  fill: $color-light-gray;
}

.up-button__button:focus svg,
.up-button__button:hover svg {
  fill: $color-dim-gray;
}
